<body id="main-page">
    <div id="center-main-obj">
        <h1 id="greeting">{{title}}</h1>
        <img src="/images/tree-holiday-white-christmas-drawing-monochrome-photography-GREEN.png"/>
    </div>
</body>