<body id="new-present-page">
    <section>
        <h1>New present</h1>
        <img id="boxes-img" src="/images/gifts_box_icon_flat_contrast_symmetric_black_white_outline_6921745-COLOR.png"/>

        <form method="POST" action="/presents/new">
            <label>Present name</label>
            <input required type="text" name="name" placeholder="Isomething"/>
            <label>Present image</label>
            <input required type="text" name="image" placeholder="http...image.jpg"/>
            <label>Present price</label>
            <input required type="number" name="price" placeholder="€€€"/>
            <label>Recipient name</label>
            <input required type="text" name="recipient" placeholder="Santa's friend"/>
            <label>Present details</label>
            <textarea required name="description"></textarea>
            <button type="submit">Send</button>
        </form>
    </section>
</body>