<body id="presents-page">
    <section class="container">
            {{#each presents}}
                <div class="card">
                {{>presentCard this}}
                </div>
            {{/each}}
    </section>
</body>